<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Author</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |book| %>
    <tr>
      <td><%= book.id rescue "" %></td>
      <td><%= book.name rescue "" %></td>
      <td><%= book.price rescue "" %></td>
      <td><%= book.author rescue "" %></td>
    </tr>
    <% end %>
  </tbody>
</table>